# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Database
*.sqlite
*.db

# Logs
*.log
npm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# Models output
models_output.txt
